<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/img/iconic.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/lesson/lesson_create.css">
  <title>Создание урока</title>
</head>
<body>

<header>
  <h1>Создание урока</h1>
</header>

<div class="main-container">
  <form method="post" th:action="@{/musical-school/lessons/create}">
    <input type="hidden" name="groupId" th:value="${groupId}">
    <input type="hidden" name="date" th:value="${date}">

    <!-- Выбор группы -->
    <div class="form-group">
      <label for="group">Группа:</label>
      <select id="group" name="group">
        <option data-th-each="group : ${groups}"
                data-th-value="${group.id}"
                data-th-text="${group.title}"
                data-th-selected="${group.id == groupId}"></option>
      </select>
    </div>

    <!-- Выбор предмета -->
    <div class="form-group">
      <label for="subject">Предмет:</label>
      <select id="subject" name="subject">
        <option data-th-if="${subject?.teacher()?.id()?.toString() == userId}"
                data-th-each="subject : ${subjects}"
                data-th-value="${subject.id}"
                data-th-text="${subject.title}"></option>
      </select>
    </div>

    <!-- Дата -->
    <div class="form-group">
      <label for="dateLesson">Дата:</label>
      <input type="text" id="dateLesson" name="dateLesson" th:value="${date}" readonly />
    </div>

    <!-- Время урока -->
    <div class="form-group">
      <label for="timeLesson">Время урока:</label>
      <select id="timeLesson" name="timeLesson">
        <option value="08:00">08:00</option>
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
        <option value="18:00">18:00</option>
      </select>
    </div>

    <!-- Кнопка отправки -->
    <button type="submit">Создать урок</button>
  </form>
</div>

<footer>
  <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>

</body>
</html>
