<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Schedule</title>
    <link rel="stylesheet" href="/css/lesson/lesson_list.css">
</head>
<body>
<header>
    <h2>Расписание</h2>
    <nav>
        <ul>
            <li><a href="/musical-school">Главная</a></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</header>

<h1>Выберите параметры</h1>

<form method="get" th:action="@{/musical-school/lessons}">
    <div class="form-group">
        <label for="group">Группа:</label>
        <select id="group" name="groupId">
            <option data-th-each="group : ${groups}"
                    data-th-value="${group.id}"
                    data-th-text="${group.title}"
                    data-th-selected="${group.id == groupId}"></option>
        </select>

        <label for="year">Год:</label>
        <select id="year" name="year">
            <option th:value="2025" th:selected="${year == 2025}">2025</option>
            <option th:value="2026" th:selected="${year == 2026}">2026</option>
        </select>

        <label for="month">Месяц:</label>
        <select id="month" name="month">
            <option th:value="1" th:selected="${month == 1}">Январь</option>
            <option th:value="2" th:selected="${month == 2}">Февраль</option>
            <option th:value="3" th:selected="${month == 3}">Март</option>
            <option th:value="4" th:selected="${month == 4}">Апрель</option>
            <option th:value="5" th:selected="${month == 5}">Май</option>
            <option th:value="6" th:selected="${month == 6}">Июнь</option>
            <option th:value="7" th:selected="${month == 7}">Июль</option>
            <option th:value="8" th:selected="${month == 8}">Август</option>
            <option th:value="9" th:selected="${month == 9}">Сентябрь</option>
            <option th:value="10" th:selected="${month == 10}">Октябрь</option>
            <option th:value="11" th:selected="${month == 11}">Ноябрь</option>
            <option th:value="12" th:selected="${month == 12}">Декабрь</option>
        </select>

        <button type="submit" class="button">Показать</button>
        <a class="btn-pdf" data-th-href="@{/musical-school/lessons/pdf(groupId=${groupId}, year=${year}, month=${month})}">Скачать расписание на месяц PDF</a>
        </div>
</form>

<div id="calendarContainer" class="calendar">
    <div data-th-each="day : ${lesson}">
        <div class="day">
            <div class="day-header" data-th-text="${day.key}" th:attr="data-date=${day.key}"></div>
            <div class="day-content">
                <div data-th-if="${day.value != null}">
                    <div data-th-each="event : ${day.value}" class="lesson-row">
                        <!-- Колонка с временем -->
                        <div class="lesson-time" data-th-text="${event.timeLesson}"></div>

                        <!-- Колонка с уроком -->
                        <div class="lesson-title"
                             data-th-if="${role == 'ROLE_TEACHER' and event.subject.teacher().id().toString().toString() == userId}"
                             data-th-attr="title=${event.subject.title}">
                            <a data-th-href="@{/musical-school/grade(groupId=${groupId}, lessonId=${event.id})}"
                               data-th-text="${event.subject.title}">
                            </a>
                        </div>
                        <div class="lesson-title"
                             data-th-if="${!(role == 'ROLE_TEACHER' and event.subject.teacher.id.toString() == userId)}"
                             data-th-attr="title=${event.subject.title}"
                             data-th-text="${event.subject.title}">
                        </div>


                        <!-- Колонка с крестиком -->
                        <div class="lesson-delete" data-th-if="${role == 'ROLE_TEACHER' and event.subject.teacher().id().toString() == userId}">
                            <form data-th-action="@{/musical-school/lessons/{lessonId}(lessonId=${event.id}, groupId=${groupId}, year=${year}, month=${month})}"
                                  method="post" style="display:inline;">
                                <button type="submit" class="delete-link" onclick="return confirm('Вы точно хотите удалить урок?');">
                                    &#x2716; <!-- Крестик -->
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div data-th-if="${day.value == #lists.isEmpty(day.value)}">
                    <div class="empty-cell">No lessons</div>
                </div>
                <a data-th-if="${role == 'ROLE_TEACHER'}"
                   data-th-href="@{/musical-school/lessons/create(groupId=${groupId}, data=${day.key})}">
                    +</a>
            </div>
        </div>
    </div>
</div>


<footer>
    &copy; 2025 Musical School. All rights reserved.
</footer>

<script>
    document.querySelectorAll('.day-header').forEach(header => {
        const rawDate = header.getAttribute('data-date'); // Получаем строку даты
        if (!rawDate) return; // Пропускаем, если атрибут отсутствует

        const [year, month, day] = rawDate.split('-'); // Разбиваем строку на части
        const date = new Date(year, month - 1, day); // Создаем объект Date (месяцы в JS от 0 до 11)

        const options = { day: 'numeric', month: 'long' }; // Формат отображения
        header.textContent = date.toLocaleDateString('ru-RU', options); // Устанавливаем текст
    });
</script>

</body>
</html>
