/* Основной стиль страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Заголовок страницы */
header {
    background-color: #4c8caf;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
/* Основной контейнер для контента */
.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Таблица */
table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #4c8caf;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Стили для выпадающих списков */
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Кнопка отправки */
button {
    background-color: #4c8caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover {
    background-color: #3b749c;
}

/* Подвал */
footer {
    background-color: #4c8caf;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
