<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <title>Информация об учителе</title>
    <link rel="stylesheet" href="/css/user/detail.css">
</head>
<body>
<header>
    <h1>Администратор [[${admin.lastName} + ' ' + ${admin.firstName}]]</h1>
    <nav>
        <ul>
            <li><a href="/musical-school">Главная</a></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="photo-container">
        <div class="photo-wrapper">
            <img th:src="@{/img/{photo}(photo=${admin.photo})}" alt="Фото admin">
        </div>
    </div>
    <div class="info-container">
        <p><span class="info-title">Имя:</span> <span data-th-text="${admin.lastName} + ' ' + ${admin.firstName} + ' ' + ${admin.middleName}"></span></p>
        <p><span class="info-title">Дата рождения:</span> <span data-th-text="${admin.dateOfBirth}"></span></p>
        <p><span class="info-title">Телефон:</span> <span data-th-text="${admin.phoneNumber}"></span></p>
        <p><span class="info-title">Email:</span> <span data-th-text="${admin.email}"></span></p>

        <div>
            <h2>Паспортные данные</h2>
            <p><span class="info-title">Серия:</span> <span data-th-text="${admin.idCard.passportSeries}"></span></p>
            <p><span class="info-title">Номер:</span> <span data-th-text="${admin.idCard.passportNumber}"></span></p>
            <p><span class="info-title">Кем выдано:</span> <span data-th-text="${admin.idCard.issuedBy}"></span></p>
            <p><span class="info-title">Дата выдачи:</span> <span data-th-text="${admin.idCard.issueDate}"></span></p>

            <h2>Адрес</h2>
            <p><span class="info-title">Город:</span> <span data-th-text="${admin.address.city}"></span></p>
            <p><span class="info-title">Улица:</span> <span data-th-text="${admin.address.street}"></span></p>
            <p><span class="info-title">Дом:</span> <span data-th-text="${admin.address.home}"></span></p>
            <p><span class="info-title">Квартира:</span> <span data-th-text="${admin.address.flat}"></span></p>

        </div>

    </div>
</div>

<footer>
    &copy; 2025 Музыкальная Школа. Все права защищены.
</footer>
</body>
</html>
