<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/img/iconic.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список групп</title>
  <link rel="stylesheet" href="/css/group/list_all.css">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href="/musical-school">Главная</a></li>
      <li><a href="/">Выход</a></li>
    </ul>
  </nav>
</header>

<div data-th-each="entry : ${groups}">
  <h1 data-th-text="'Список групп курса: ' + ${entry.key}"></h1>

  <div class="main-container">
    <main>
      <table class="groups-table">
        <thead>
        <tr>
          <th>Название группы</th>
          <th>Дата начала</th>
          <th>Дата окончания</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="group : ${entry.value}">
          <td data-th-text="${group.title}"></td>
          <td class="date-cell" data-th-text="${group.startEducation()}"></td>
          <td class="date-cell" data-th-text="${group.endEducation()}"></td>
          <td>
            <a data-th-href="@{/musical-school/groups/group-students/{groupId}(groupId=${group.id})}" class="btn btn-primary2">Узнать подробнее</a>
          </td>
        </tr>
        </tbody>
      </table>
    </main>
  </div>
</div>

<footer>
  <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>

</body>
</html>
