<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/img/iconic.png">
  <title>Информация об ученике</title>
  <link rel="stylesheet" href="/css/user/detail.css">
</head>
<body>
<header>
  <h1>Ученик [[${student.user.lastName} + ' ' + ${student.user.firstName}]]</h1>
</header>

<div class="container">
  <div class="photo-container">
    <div class="photo-wrapper">
      <img th:src="@{/img/{photo}(photo=${student.user.photo})}" alt="Фото ученика">
    </div>
  </div>
  <div class="info-container">
    <p><span class="info-title">Имя:</span>
      <span data-th-text="${student.user.lastName} + ' ' + ${student.user.firstName}
      + ' ' + ${student.user.middleName}"></span></p>

    <p><span class="info-title">Группа:</span>
      <a th:href="@{'/musical-school/groups/group-students/' +
      ${student.group.id}}" data-th-text="${student.group.title}"></a>
    </p>


    <p><span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
             class="info-title">Дата рождения:</span>
      <span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
            data-th-text="${student.user.dateOfBirth}"></span></p>

    <p><span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
             class="info-title">Телефон:</span>
      <span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
            data-th-text="${student.user.phoneNumber}"></span></p>

    <p><span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
             class="info-title">Email:</span>
      <span data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}"
            data-th-text="${student.user.email}"></span></p>

    <div data-th-if="${role == 'ROLE_ADMIN' || userId == student.id.toString}">
      <h2>Паспортные данные</h2>
      <p><span class="info-title">Серия:</span> <span data-th-text="${student.user.idCard.passportSeries}"></span></p>
      <p><span class="info-title">Номер:</span> <span data-th-text="${student.user.idCard.passportNumber}"></span></p>
      <p><span class="info-title">Кем выдано:</span> <span data-th-text="${student.user.idCard.issuedBy}"></span></p>
      <p><span class="info-title">Дата выдачи:</span> <span data-th-text="${student.user.idCard.issueDate}"></span></p>

      <h2>Адрес</h2>
      <p><span class="info-title">Город:</span> <span data-th-text="${student.user.address.city}"></span></p>
      <p><span class="info-title">Улица:</span> <span data-th-text="${student.user.address.street}"></span></p>
      <p><span class="info-title">Дом:</span> <span data-th-text="${student.user.address.home}"></span></p>
      <p><span class="info-title">Квартира:</span> <span data-th-text="${student.user.address.flat}"></span></p>

      <h2>Учебные данные</h2>
      <p><span data-th-if="${role == 'ROLE_ADMIN' || role == 'ROLE_TEACHER'|| userId == student.id.toString}"
               class="info-title">Табель успеваемости:</span>
        <a data-th-if="${role == 'ROLE_ADMIN' || role == 'ROLE_TEACHER' || userId == student.id.toString}"
           data-th-href="@{/musical-school/grade/{studentId}(studentId=${student.id()})}"
           data-th-text="'Табель успеваемости ученика:' + ' ' + ${student.group.title}
           + ' ' + ${student.user.firstName} + ' ' + ${student.user.lastName()}"
        ></a></p>

      <p><span class="info-title">Детали:</span> <span data-th-text="${student.details}"></span></p>

      <p><span class="info-title">Владение инструментами:</span>
        <div class="subject-list" data-th-each="inst : ${instrument}">
            <li data-th-text="${inst.name}" class="subject-link"></li>
      <form data-th-if="${role == 'ROLE_ADMIN'}"
            data-th-action="@{/musical-school/instrument/{instrumentId}/{userId}(instrumentId=${inst.id()}, userId=${student.user.id})}"
            method="post" style="display:inline;">
        <button type="submit" class="delete-link" onclick="return confirm('Вы точно хотите удалить инструмент?');">
          &#x2716; <!-- Крестик -->
        </button>
      </form>
    </div>
    </div>

    <a data-th-if="${role == 'ROLE_ADMIN'}" data-th-href="@{/musical-school/students/student/{studentId}/edit(studentId=${student.id})}" class="button">Редактировать профиль</a>
  </div>
</div>

<footer>
  &copy; 2025 Музыкальная Школа. Все права защищены.
</footer>
</body>
</html>
