<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предметы.Добавление</title>
    <link rel="stylesheet" href="/css/course/create.css"> <!-- Подключение CSS -->
</head>
<body>

<header>
    <h1>Создание нового предмета</h1>
</header>

<div class="main-container">
    <main>
    <form method="post" data-th-action="@{/musical-school/subjects/create}">
        <label>
            Название: <br>
            <input type="text" name="title">
        </label><br>
        <label>
            Силлабус: <br>
            <input type="text" name="titleSyllabus">
        </label><br>
        <label>
            Преподаватель: <br>
            <select name="teacherId">
                <option value="">-- Выбор учителя --</option>
                <option data-th-each="teacher : ${teachers}"
                        data-th-if="${teacher.user() != null}"
                        data-th-value="${teacher.id}"
                        data-th-text="${teacher.user().firstName() + ' ' + teacher.user().lastName()}">
                </option>
            </select>
        </label><br>
        <button type="submit">Добавить</button>
    </form>
    </main>
</div>

<footer>
    <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>

</body>
</html>
