<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>[[${subject.title}]]</title>
</head>
<body>
<a data-th-href="@{/musical-school/subjects/list}">List Course</a>
<a data-th-href="@{/musical-school/subjects/subject/{subjectId}/edit(subjectId=${subject.id})}">Update subject</a>
<h1 data-th-text="${subject.title}"></h1>
<ul>
  <li><strong>ID</strong>: <span data-th-text="${subject.id}"></span></li>
  <li><strong>Title</strong>: <span data-th-text="${subject.title}"></span></li>
  <li><strong>Title Syllabus</strong>: <span data-th-text="${subject.titleSyllabus()}"></span></li>
</ul>
<form method="post" data-th-action="@{/musical-school/subjects/subject/{subjectId}/delete(subjectId=${subject.id})}">
    <button type="submit">Delete</button>
</form>
</body>
</html>