<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subjects Music-school</title>
</head>
<body>
<a data-th-href="@{/musical-school/subjects/create}">Create new subject</a>
<h1>Предметы</h1>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="subject :${subjects}">
    <td data-th-text="${subject.id}"></td>
    <td>
      <a data-th-href="@{/musical-school/subjects/subject/{subjectId}(subjectId=${subject.id})}"
         data-th-text="${subject.title}"> </a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>