<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course [[${course.title}]]</title>
    <link rel="stylesheet" href="/css/course/create.css"> <!-- Подключение CSS -->
</head>
<body>

<header>
    <h1>Редактирование курса</h1>
</header>

<div class="main-container">
    <main>
        <form method="post" data-th-action="@{/musical-school/courses/course/{courseId}/edit(courseId=${course.id})}">
            <label>
                Название: <br>
                <input type="text" name="title" data-th-value="${course.title}" required>
            </label><br>
            <label>
                Учебная программа: <br>
                <input type="text" name="titleCurriculum" data-th-value="${course.titleCurriculum}" required>
            </label><br>
            <button type="submit">Редактировать</button>
        </form>

        <form method="post" data-th-action="@{/musical-school/courses/course/{courseId}/delete(courseId=${course.id})}">
            <button type="submit">Удалить</button>
        </form>
    </main>
</div>

<footer>
    <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>

</body>
</html>

