<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <title>Добавление предметов в курс</title>
    <link rel="stylesheet" href="/css/course/add_subject.css">
</head>
<body>
<header>
<h1 data-th-text="'Добавление предметов' + ' ' + ${teacher.user().firstName()} + ' ' +
                                            ${teacher.user().lastName()}"></h1>
</header>
<form data-th-action="@{/musical-school/teachers/teacher/{teacherId}/add(teacherId=${teacherId})}" method="post">
    <ul>
        <li data-th-each="subject : ${subjects}">
            <label>
                <input type="checkbox" name="subjectIds" data-th-value="${subject.id}">
                <span data-th-text="${subject.title}">Название предмета</span>
            </label>
        </li>
    </ul>
    <button type="submit">Сохранить</button>
</form>
<footer>
    <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>
</body>
</html>
