<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <title>Список учителей</title>
    <link rel="stylesheet" href="/css/user/list_teacher.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/musical-school">Главная</a></li>
            <li><a href="/">Вход/выход</a></li>
        </ul>
    </nav>
</header>
<h1>Список учителей</h1>
<div class="buttons">
    <a data-th-if="${role == 'ROLE_ADMIN'}" href="/musical-school/teachers/create" class="add-teacher-btn">Добавить учителя</a>
    <a class="btn btn-primary position-fixed" href="/musical-school/subjects/teachers/pdf" >Скачать список PDF</a>
</div>

<table>
    <thead>
    <tr>
        <th>Имя и фамилия</th>
        <th>Предметы</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="entry : ${subjects_teachers}">
        <td>
            <a data-th-href="@{/musical-school/teachers/teacher/{teacherId}(teacherId=${entry.key.id})}"
               data-th-text="${entry.key.user.firstName} + ' ' + ${entry.key.user.lastName}"></a>
        </td>
        <td>
    <span data-th-each="subject, iterStat : ${entry.value}">
        <span data-th-text="${subject.title}"></span>
        <span th:if="${!iterStat.last}">, </span>
    </span>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <p>&copy; 2025 Музыкальная школа. Все права защищены.</p>
</footer>

</body>
</html>
