<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/iconic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/grade/grade.css">
    <title>Учет успеваемости</title>
</head>
<body>

<header>
    <h1>Проставление посещаемости и успеваемости учащимся</h1>
</header>


<form>
    <table>
        <thead>
        <tr>
            <th>Ученик</th>
            <th>Оценка</th>
            <th>Присутствие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grade : ${grades}">
            <td th:text="${grade.student.user.firstName} + ' ' + ${grade.student.user.lastName}"></td>
            <td>
                <select class="estimation" th:attr="data-student-id=${grade.student.id}">
                    <option value="null" th:selected="${grade.estimation == null}">-</option>
                    <option value="0" th:selected="${grade.estimation == 0}">0</option>
                    <option value="1" th:selected="${grade.estimation == 1}">1</option>
                    <option value="2" th:selected="${grade.estimation == 2}">2</option>
                    <option value="3" th:selected="${grade.estimation == 3}">3</option>
                    <option value="4" th:selected="${grade.estimation == 4}">4</option>
                    <option value="5" th:selected="${grade.estimation == 5}">5</option>
                </select>
            </td>
            <td>
                <select class="presence" th:attr="data-student-id=${grade.student.id}">
                    <option value="null" th:selected="${grade.presence == null}">-</option>
                    <option value="Присутствовал" th:selected="${grade.presence == 'Присутствовал'}">Присутствовал</option>
                    <option value="Отсутствовал" th:selected="${grade.presence == 'Отсутствовал'}">Отсутствовал</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" onclick="submitGrades()">Сохранить</button>
</form>
<footer>
    <p>&copy; 2025 Musical School. Все права защищены.</p>
</footer>
<script>
    function submitGrades() {
        const groupId = new URLSearchParams(window.location.search).get("groupId");
        const lessonId = new URLSearchParams(window.location.search).get("lessonId");

        if (!groupId || !lessonId) {
            console.error("Параметры groupId или lessonId отсутствуют в URL.");
            return;
        }

        const estimations = {};
        const presences = {};

        document.querySelectorAll(".estimation").forEach(select => {
            const studentId = select.getAttribute("data-student-id");
            estimations[studentId] = select.value;
        });

        document.querySelectorAll(".presence").forEach(select => {
            const studentId = select.getAttribute("data-student-id");
            presences[studentId] = select.value;
        });

        const data = {
            estimation: estimations,
            presence: presences,
        };

        fetch(`/musical-school/grade/add?groupId=${groupId}&lessonId=${lessonId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = `/musical-school/lessons?groupId=${groupId}&year=2025&month=1`;
                } else {
                    console.error("Ошибка при отправке данных.");
                }
            })
            .catch(error => console.error("Произошла ошибка:", error));
    }
</script>

</body>
</html>
