<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали курса</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .course {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .subject-list {
            list-style: none;
            padding: 0;
        }
        .subject-item {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<h1>Детали курса</h1>

<div data-th-each="entry : ${courseSubjects}">
    <div class="course">
        <h2 data-th-text="${entry.key}">Название курса</h2>
        <ul class="subject-list">
            <li data-th-each="subject : ${entry.value}" data-th-text="${subject.title}" class="subject-item">Название предмета</li>
        </ul>
        <a data-th-href="@{/musical-school/course-subjects/{courseId}/add(courseId=${courseId})}">+subject</a>
    </div>
</div>

</body>
</html>
