body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4c8caf;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Контейнер для контента */
.main-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Контейнер для формы */
form {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    display: inline-block;
    background-color: #4c8caf;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #90a7bf;
    transform: scale(1.05);
}

footer {
    background-color: #4c8caf;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
